#probanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../../images/Unsplash/47.jpg");
    background-size: cover;
    background-position-y: 35%;
    width: 100%;
    height: 50vh;
    margin-bottom: 20px;
}


#probanner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#probanner h2 span{
    color: white;
    font-size: 80px;
    font-weight: 700;
}