.containers {
    max-width: 800px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: justify; /* justify text */
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 300px;
  }
  .section {
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .section-content {
    font-size: 18px;
    line-height: 1.5;
  }
  