.user-profile-container {
  display: flex;
  max-width: 800px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem auto;
  padding: 1rem;
  width: 50%;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
} 

.edit-profile-picture{
  display: flex;
  flex-direction: column;
}

label[for="profile-picture"] {
  margin-bottom: 0px;
  width: 500px;
  
}
.remove-button{
  margin-top: 10px;
  width: 100px;
}

.sett-bt{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.logout-button{
  margin-top: 10px;
  width: 120px;
  height: 50px;
}

.changePass-button{
  color: white;
  background-color: #088178;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  height: 50px;
}

.changePass-button:hover {
  background-color: white;
  color: #088178;
}

.editdetails-button{
  margin-top: 10px;
  width: 120px;
  height: 50px;
}
.editdetails-button:hover{
  background-color: white;
  color: #088178;
}

.user-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.user-avatar {
  width:28rem;
}

.user-info {
  text-align: center;
}

.user-name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.user-bio {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.user-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-stats li {
  margin: 0 1rem;
}

.stat-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.stat-value {
  font-size: 1.2rem;
}