.n-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .n-wrapper {
    /* display: none; */
    flex-direction: column;
  }
}

.nav-ul {
  display: flex;
}

@media screen and (max-width: 650px) {
  .nav-ul {
    flex-direction: column;
  }
}

.n-right {
  display: flex;
}

@media screen and (max-width: 650px) {
  .n-right {
    flex-direction: column;
  }
}
.n-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 34px;
}
.n-left>img{
  transform: scale(0.9);

}

@media screen and (max-width: 650px) {
  .n-list {
    flex-direction: column;
    align-items: unset;
  }
}

.nav-li {
  padding: 10px;
  color:#222;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 700;
}
.navlink{
  color: black !important;
}
.n-name{
  font-size: 1.8rem;
}

.navlink-Cart{
margin-top: 25px;
margin-left: 10px;
}