.intro {
  display: flex;
  justify-content: space-between;
  height: 139vh;
}

.i-left {
  margin-top: 10px;
  background-image: url("../../images/copy.jpg");
  height: 130vh;
  width: 100%;
  background-size: cover;
  background-position: top 40% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
}
.i-name {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: justify;
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-size: 3.1rem;
  font-weight: 700;
}

.i-name > :nth-child(2) {
  font-weight: 700;
  color: var(--orange);
  font-size: 1.9rem;
  width: 55%;
  line-height: 55px;
}
.i-name > :nth-child(3) {
  font-weight: 100;
  color: var(--gray);
  font-size: 17px;
  margin-top: 10px;
  width: 55%;
}

.i-name > :nth-child(2) {
  color: var(--orange);
  font-size: 1.7rem;
  font-weight: 700;
  text-align: justify;
}
.i-name > :nth-child(3) {
  color: var(--gray);
  font-size: 17px;
  margin-top: 10px;
  text-align: justify;
}
.i-button {
  width: 8rem;
  height: 3rem;
}


@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
    height: auto;
  }
  
  .i-left {
    height: auto;
    background-position: center;
    padding: 80px 20px;
    align-items: Left;
    text-align: left;
  }
  
  .i-name {
    width: 100%;
    align-items: left;
  }
  
  .i-name > :nth-child(1) {
    font-size: 2.5rem;
  }
  .i-name > :nth-child(2) {
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
  }
  .i-name > :nth-child(3) {
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
    text-align: left;
  }
  
  .i-button {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .i-name > :nth-child(2) {
    font-size: 2.5rem;
    width: 60%;
  }
  
  .i-name > :nth-child(3) {
    font-size: 20px;
  }
  
  .i-button {
    margin-top: 2rem;
  }
}