:root {
  /* --text: #4d5198;
  --orange: #fca61f;
  --Black: #060602;
  --gray: #383b42;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0/8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0 0 0 0.08); */
  --yellow: #088178;
  --orange: #088178;
  --Black: #222;
  --gray: #424652;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0/8%);
  --orangeCard: #74b9b5;
  --smboxShadow: -79px 51px 60px rgba(0 0 0 0.08);
}
.App {
  padding: 0px;
  overflow: hidden;
  color: var(--Black);
  background-color: #e7e8e8;
}

.App h2{
  color: #088178;
  font-weight: 700;
}

.App h3{
  color: #088178;
}

.App h4{
  color: #088178;
}
.button {
  border-radius: 9px;
  border: none;
  color: white;
  font-size: 20px;
  padding: 11px 26px 11px 26px;
  background: #088178;
}
.button:hover {
  background: white;
  cursor: pointer;
  color: var(--orange);
  border: 1px solid var(--orange);
}

@font-face {
  font-family: Gumela;
  src: url("./fonts/Gumela\ Regular.otf");
}

.input-field-style {
  background: white;
  border: 1px solid var(--text);
}
body{
  background-color: #ffcce78c;
  overflow-x: hidden;
}