
.VT-grid {
  display: flex;
  height: 566px;
  justify-content: space-between;
  padding-right: 40px;
}


.VT-grid1{
  height: 500px;
  width: 350px;
  padding-left: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 250px;
}
.VT-grid1 img{
  height: 400px;
}
.selected-image{
height: 400px;
padding-top: 20px;
text-align: center;
}
.selected-image img{
  height: 400px;
  border: 1px solid #222;
  }

@media screen and (max-width: 1500px) {
  .VT-grid {
    grid-template-columns: 500px 1fr;
    height: auto;
  }
}
.insert-img-btn-mob {
  display: none;
}
@media screen and (max-width: 650px) {
  .VT-grid {
    /* grid-template-columns: 1fr; */
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .insert-img-btn-mob {
    display: flex;
    padding: 20px;
    justify-content: center;
  }
}


.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.dropdown-content {
  display: none;
  /* position: absolute; */
  background-color: var(--Black);
  margin: auto;
  width: 246px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-content span:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.img-drop-down {
  background-color: #242d49;
  /* margin: auto; */
  /* width: 246px; */
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  display: none;
  color: white;
}

.dropdown:hover > .img-drop-down {
  display: flex;
}

.img-drop-down > span {
  padding: 12px;
}
.img-drop-down span:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

.item-selected {
  border: 1px solid var(--orange);
}

.output {
  border: 2px solid var(--orange);
  height: 400px;
  width: 350px;
  margin-bottom: 20px;
}
.buttons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.heading {
  margin-top: 20px;
  text-align: center;
}

.ant-upload-drag-container {
  background-size: contain;
  opacity: 0.7;
}

.item-listing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 8px;
}

@media screen and (max-width: 450px) {
  .item-listing {
    grid-template-columns: 1fr;
  }
}

.item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products-container{
  background-color: #088178;
  padding: 5px;
  border-radius: 10px;
}

.products-container:hover {
  transform: translateY(-5px);
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.20);
    transition: 0.8s ease;
}
