.container {
    max-width: 800px;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: justify; /* justify text */
    margin-top: 30px;
    margin-bottom: 90px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .complaint-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 730px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }
  
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }
  